<Widget Size="Small" CardType="primary" Title="Total Messages Received" SubTitle="Messages Received in the last 3 Days" AllowableSizes="Extra Small,Small,Medium,Large,Extra Large">
    <ChildContent>
        <div class="chartdiv" id="messagesReceived"></div>
    </ChildContent>
</Widget>
@code {

}