<Widget Size = "Small" CardType = "primary" Title = "Errors & Warnings" SubTitle = "Latest messages with errors and warnings" AllowableSizes = "Extra Small,,Small,Medium,Large,Extra Large" >
    <ChildContent>
        <div class="chartdiv" id="errorsAndWarnings"></div>
    </ChildContent>
</Widget>

@code {

}
