<Widget Size="Small" CardType="primary" Title="Message Volume" SubTitle="Count by Jurisdiction the last 3 Days" AllowableSizes="Extra Small,Small,Medium,Large,Extra Large">
    <ChildContent>
        <div class="chartdiv" id="messageVolumes"></div>
    </ChildContent>
</Widget>

@code {

}
