@import 'variables.scss';

.badge-info {
    background-color: $teal-b0;
}
.badge-danger {
    background-color: $crim-b0;
}
.badge-warning {
    background-color: $ambe-b0;
}
.badge-success {
    background-color: $emer-b0;
}
.badge-secondary {
    background-color: $slat-b0;
}
.badge-tip {
    background-color: $navy-b0;
}
