<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">
            <img src="images/MvpsLogo.png" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa fa-gauge-high" aria-hidden="true"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="messages">
                <i class="fa fa-envelope" aria-hidden="true"></i> Messages
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="ErrorsAndWarnings">
                <i class="fa fa-triangle-exclamation" aria-hidden="true"></i> Errors & Warnings
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseCases">
                <i class="fa fa-briefcase-medical" aria-hidden="true"></i> Cases
                <div class="justify-content-end">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </button>
        </div>
        <div class="nav-item px-4 collapse collapse-horizontal" id="collapseCases">
            <NavLink class="nav-link" href="cases/summaries">
                <i class="fa fa-kit-medical" aria-hidden="true"></i> summary
            </NavLink>
            <NavLink class="nav-link" href="cases/listings">
                <i class="fa fa-files-medical mr-2" aria-hidden="true"></i> listings
            </NavLink>
            <NavLink class="nav-link" href="cases/lowincidences">
                <i class="fa fa-file-plus" aria-hidden="true"></i> low incidences
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapsedac">
                <i class="fa fa-briefcase-medical" aria-hidden="true"></i> Delete a case
                <div class="justify-content-end">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </button>
        </div>
        <div class="nav-item px-4 collapse collapse-horizontal" id="collapsedac">
            <NavLink class="nav-link" href="dac/summaries">
                <i class="fa fa-notes-medical" aria-hidden="true"></i> <span>case finder</span>
            </NavLink>
            <NavLink class="nav-link" href="cases/listings">
                <i class="fa fa-files-medical" aria-hidden="true"></i> batch upload
            </NavLink>
            <NavLink class="nav-link" href="cases/lowincidences">
                <i class="fa fa-file-plus" aria-hidden="true"></i> activity
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-1">
            <span class="navbar-heading">Administration</span>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/administration/usermanagement/users">
                <i class="fa fa-users" aria-hidden="true"></i> user management
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/administration/alerts">
                <i class="fa fa-bell" aria-hidden="true"></i> Alert builder
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="administration/ecm">
                <i class="fa fa-list-tree" aria-hidden="true"></i> event management
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-1">
            <span class="navbar-heading">Onboarding</span>
        </div>

        <div class="nav-item px-2">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseCasebridge">
                <i class="fa fa-bridge-suspension" aria-hidden="true"></i> Casebridge
                <div class="justify-content-end">
                    <i class="fa  fa-lg fa-caret-down" aria-hidden="true"></i>
                </div>
            </button>
        </div>
        <div class="nav-item px-4 collapse collapse-horizontal" id="collapseCasebridge">
            <NavLink class="nav-link" href="cases/summaries">
                <i class="fa fa-bridge-suspension" aria-hidden="true"></i> Dashboard
            </NavLink>
            <NavLink class="nav-link" href="cases/listings">
                <i class="fa fa-book" aria-hidden="true"></i> Data planner
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-1">
            <span class="navbar-heading">Jurisdiction</span>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="jurisdiction/csv/logs">
                <i class="fa fa-file-csv" aria-hidden="true"></i> Csv Upload Logs
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="jurisdiction/datasources">
                <i class="fa fa-chart-pie" aria-hidden="true"></i> Datasource
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="jurisdiction/members">
                <i class="fa fa-map" aria-hidden="true"></i> Members
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-1">
            <i class="navbar-heading">Reports & Exports</i>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="reports/linelist">
                <i class="fa fa-sort-amount-down-alt mr-2" aria-hidden="true"></i> Line List
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="reports/reconciliations">
                <i class="fa fa-sort-amount-down-alt" aria-hidden="true"></i> Reconciliation
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="reports/stratifications">
                <i class="fa fa-sort-amount-down-alt" aria-hidden="true"></i> Stratification
            </NavLink>
        </div>
    </nav>
    <div class="d-flex align-items-center flex-column mb-3">
        <div class="mt-auto">Version: 4.5.8</div>
    </div>
</div>