.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(12, 54, 76, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2812, 54, 76, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(12, 54, 76, 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(12, 54, 76, 0.5);
    }

.navbar-brand {
    font-size: 1.1rem;
}

    .navbar-brand img {
        width: 100px;
    }

.fa-nav {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: #D0DADF;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.01em;
        font-weight: 500;
        padding: 0.5rem 0.5rem;
    }

    .nav-item ::deep a.active {
        background-color: #124661; /*#$navy-b0*/
        color: #D0DADF; /*$navy-l5*/
    }

    .nav-item ::deep .nav-link:hover {
        background-color: #124661; /*navy-b0*/
        color: #D0DADF; /*$navy-l5*/
    }

    .nav-item ::deep i {
        width: 1.25rem !important;
        height: 1.25rem !important;
        margin-right: 0.75rem;
        background-size: cover;
    }

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.navbar-heading {
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 0.01em;
    background-color: transparent;
    padding: .375rem 1.25rem;
    color: #DB9B2B; /*$ambe-b0*/
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 0rem);
        overflow-y: auto;
        min-width: 240px;
    }
}
