﻿
<svg width="251px" height="221px" viewBox="0 0 251 221" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>search-for-results</title>
    <defs>
        <rect id="path-1" x="0.1764" y="0.1764" width="243.85536" height="166.5216" rx="7.056"></rect>
        <filter x="-2.1%" y="-2.4%" width="104.1%" height="106.0%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.465733986   0 0 0 0 0.464665429   0 0 0 0 0.485450634  0 0 0 0.496175699 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <rect id="path-3" x="0" y="0" width="243.85536" height="10.838016"></rect>
        <rect id="path-5" x="0" y="0" width="25.909632" height="6.096384" rx="0.508032"></rect>
        <linearGradient x1="44.6946982%" y1="29.0132986%" x2="65.3593313%" y2="61.5906241%" id="linearGradient-7">
            <stop stop-color="#ECC961" offset="0%"></stop>
            <stop stop-color="#D49932" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="views" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="search-for-results" transform="translate(3.000000, 0.000000)">
            <g id="Group-14">
                <circle id="Oval" fill="#E6E8ED" cx="122.5" cy="110.5" r="110.5"></circle>
                <g id="Group-13" transform="translate(0.000000, 27.000000)">
                    <g id="Rectangle">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Group-3" transform="translate(0.176400, 0.176400)">
                        <g id="Group">
                            <g id="Group-2">
                                <mask id="mask-4" fill="white">
                                    <use xlink:href="#path-3"></use>
                                </mask>
                                <use id="Rectangle" fill="#FFFFFF" xlink:href="#path-3"></use>
                                <g id="UI/Color/Flat/Icon-Color" mask="url(#mask-4)" fill="#D8D8D8">
                                    <g transform="translate(-0.169344, 10.668672)" id="Base">
                                        <rect x="0" y="0" width="243.85536" height="1"></rect>
                                    </g>
                                </g>
                            </g>
                            <rect id="Rectangle" fill="#CCCCCC" x="11.515392" y="3.63073536" width="20.998656" height="1.19218176" rx="0.59609088"></rect>
                            <rect id="Rectangle-Copy" fill="#CCCCCC" x="11.515392" y="6.01509888" width="16.426368" height="1.19218176" rx="0.59609088"></rect>
                            <circle id="Oval" fill="#CCCCCC" cx="6.77376" cy="5.419008" r="2.709504"></circle>
                        </g>
                        <g id="table-/-heading" transform="translate(18.966528, 26.417664)">
                            <g id="table-heading" stroke-width="1" fill="#FFFFFF">
                                <polygon id="Rectangle-145" points="0 0 219.469824 0 219.469824 9.483264 0 9.483264"></polygon>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 140.216832)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 149.700096)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 130.733568)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 121.250304)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 111.767040)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 102.283776)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 92.800512)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 83.317248)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 73.833984)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 64.350720)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 54.867456)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 54.867456)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 45.384192)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <g id="table-/-row" transform="translate(18.966528, 35.900928)">
                            <g id="table-row" stroke-width="1" fill="#FFFFFF">
                                <rect id="Rectangle-145-Copy" x="0" y="0" width="219.469824" height="9.483264"></rect>
                            </g>
                            <g id="UI/Color/Flat/Icon-Color" transform="translate(0.000000, 9.313920)" fill="#D8D8D8">
                                <rect id="Base" x="0" y="0" width="219.469824" height="1"></rect>
                            </g>
                        </g>
                        <text id="Users" font-family="Roboto-Medium, Roboto" font-size="3.38688" font-weight="400" line-spacing="4.741632" fill="#757575">
                            <tspan x="18.966528" y="21.966528">Users</tspan>
                        </text>
                        <g id="btn_primary" transform="translate(212.526720, 17.611776)">
                            <mask id="mask-6" fill="white">
                                <use xlink:href="#path-5"></use>
                            </mask>
                            <use id="Rectangle-28" fill="#E9E8E7" xlink:href="#path-5"></use>
                        </g>
                        <rect id="Rectangle" fill="#E9E8E7" x="29.127168" y="29.804544" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#E9E8E7" x="18.966528" y="18.62784" width="14.563584" height="5.08032" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#E9E8E7" x="69.769728" y="29.804544" width="17.78112" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#E9E8E7" x="113.8236" y="29.804544" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#E9E8E7" x="154.272384" y="29.804544" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#E9E8E7" x="198.640512" y="29.804544" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="39.287808" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="39.287808" width="27.603072" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="39.287808" width="15" height="2.709504" rx="0.677376"></rect>
                        <path d="M154.94976,39.287808 L182.816274,39.287808 C183.13841,39.287808 183.399552,39.5489503 183.399552,39.8710856 L183.399552,40.4543633 L183.399552,41.319936 C183.399552,41.6940404 183.09628,41.997312 182.722176,41.997312 L154.94976,41.997312 C154.575656,41.997312 154.272384,41.6940404 154.272384,41.319936 L154.272384,39.965184 C154.272384,39.5910796 154.575656,39.287808 154.94976,39.287808 Z" id="Rectangle" fill="#EDEDED"></path>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="39.287808" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="48.771072" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="48.771072" width="26.24832" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="48.771072" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="48.771072" width="28.78848" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="48.771072" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="58.254336" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="58.254336" width="23.030784" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="58.254336" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="58.254336" width="27.603072" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="58.254336" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.465856" y="67.7376" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="70.108416" y="67.7376" width="17.78112" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="67.7376" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.611072" y="67.7376" width="24.385536" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.9792" y="67.7376" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.465856" y="77.220864" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="70.108416" y="77.220864" width="17.78112" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="77.220864" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.611072" y="77.220864" width="26.756352" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.9792" y="77.220864" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.465856" y="86.704128" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="70.108416" y="86.704128" width="33.02208" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="86.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.611072" y="86.704128" width="23.70816" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.9792" y="86.704128" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.465856" y="96.187392" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="70.108416" y="96.187392" width="24.216192" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="95.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.611072" y="96.187392" width="24.216192" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.9792" y="96.187392" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="105.670656" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="105.670656" width="28.619136" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="106.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="105.670656" width="25.232256" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="105.670656" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="115.15392" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="115.15392" width="17.78112" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="115.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="115.15392" width="32.17536" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="115.15392" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="124.637184" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="124.637184" width="28.280448" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="125.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="124.637184" width="23.877504" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="124.637184" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="134.120448" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="134.120448" width="27.603072" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="133.8236" width="17" height="3" rx="0.8128512"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="134.120448" width="23.877504" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="134.120448" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="143.603712" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="143.603712" width="32.344704" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="143.603712" width="17" height="3" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="143.603712" width="24.724224" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="143.603712" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="29.127168" y="153.086976" width="14.563584" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="69.769728" y="153.086976" width="25.062912" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="113.8236" y="153.086976" width="15" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="154.272384" y="153.086976" width="24.55488" height="2.709504" rx="0.677376"></rect>
                        <rect id="Rectangle" fill="#EDEDED" x="198.640512" y="153.086976" width="14.563584" height="2.709504" rx="0.677376"></rect>
                    </g>
                </g>
            </g>
            <g id="Group-12" transform="translate(77.000000, 117.000000)">
                <g id="Group-10" transform="translate(19.504287, 73.004325) rotate(-1.000000) translate(-19.504287, -73.004325) translate(0.504287, 54.004325)">
                    <path d="M32.3796005,4.54747351e-13 L24.2145614,7.78857422 L29.5916366,12.6368408 C35.163414,7.34289551 37.9493026,4.69592285 37.9493026,4.69592285 C37.9493026,4.69592285 36.0927352,3.13061523 32.3796005,4.54747351e-13 Z" id="Path-5" fill="#00223D"></path>
                    <path d="M24.2145614,7.78857422 L29.5916366,12.6368408 L29.9663062,15.7815742 C17.1050815,29.6362794 10.4726762,36.7555493 10.0733346,37.144179 L10.0627059,37.1542969 C9.65836497,37.5263501 5.19676432,37.4484725 2.67769618,35.2895508 C0.158628047,33.130629 0.138731326,28.717558 0.525840714,28.3081055 C0.783913639,28.0351371 7.50974372,21.1952933 20.7033309,7.78857422 L20.7033309,7.78857422 L24.2145614,7.78857422 Z" id="Combined-Shape" fill="url(#linearGradient-7)"></path>
                </g>
                <g id="Group-11" transform="translate(24.999886, 0.000000)">
                    <circle id="Oval" stroke="#00223D" stroke-width="1.5" fill-opacity="0.284582605" fill="#1FA7D2" cx="32.25" cy="32.25" r="32.25"></circle>
                    <path d="M32.8168945,6 C27.0509854,6.08774634 21.8600674,7.89487525 17.2441406,11.4213867 C12.6282138,14.9478982 9.38016693,19.5880349 7.5,25.3417969" id="Path-4" stroke="#FFFFFF" stroke-width="4.5" opacity="0.800525484" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </g>
        </g>
    </g>
</svg>