﻿
<svg width="125px" height="108px" viewBox="0 0 125 108" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>UploaderProcessing</title>
    <g id="Not-a-Case" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="not-a-case/-finder/-add-batch-step-2-error" transform="translate(-465.000000, -298.000000)">
            <g id="UploaderProcessing" transform="translate(466.000000, 299.555589)">
                <rect id="Rectangle" stroke="#002E53" x="103" y="36.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="103" y="34.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="103" y="38.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="89" y="38.4444113" width="34" height="48" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="0" y="36.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="0" y="34.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="0" y="38.4444113" width="20" height="32" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="0" y="38.4444113" width="39" height="48" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="0" y="20.4444113" width="39" height="46" rx="1"></rect>
                <rect id="Rectangle" stroke="#002E53" x="83" y="20.4444113" width="40" height="46" rx="1"></rect>
                <circle id="Oval" stroke="#002E53" stroke-width="1.5" fill="#FFFFFF" stroke-linecap="square" stroke-linejoin="bevel" cx="61" cy="52.4444113" r="47"></circle>
                <path d="M61,94.4444113 C84.1959595,94.4444113 103,75.6403708 103,52.4444113 C103,29.2484519 84.1959595,10.4444113 61,10.4444113 C37.8040405,10.4444113 19,29.2484519 19,52.4444113 C19,75.6403708 37.8040405,94.4444113 61,94.4444113 Z" id="Oval" stroke="#367F6A" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="4" transform="translate(61.000000, 52.444411) rotate(17.000000) translate(-61.000000, -52.444411) "></path>
                <g id="gear" transform="translate(50.000000, 41.444411)" fill="#367F6A" fill-rule="nonzero">
                    <path d="M18.8710745,12.0697406 C18.9123762,11.7260691 18.9398699,11.3686509 18.9398699,10.9974857 C18.9398699,10.6263206 18.9123762,10.2689023 18.8573888,9.92523086 L21.1805465,8.11064571 C21.3868105,7.94568343 21.4417979,7.64325257 21.3180151,7.409556 L19.1185179,3.60167657 C18.9810494,3.35423314 18.6924265,3.271752 18.444983,3.35423314 L15.7092974,4.45398171 C15.1319294,4.01408229 14.5270677,3.656664 13.8535328,3.38172686 L13.441127,0.467393143 C13.3998254,0.192456 13.1661899,0 12.8912528,0 L8.49225847,0 C8.21732133,0 7.99737161,0.192456 7.95613104,0.467393143 L7.54372533,3.38172686 C6.87012933,3.656664 6.25152075,4.02782914 5.68789961,4.45398171 L2.95226282,3.35423314 C2.70481939,3.25800514 2.41614761,3.35423314 2.27867904,3.60167657 L0.079175543,7.409556 C-0.0582930284,7.65699943 -0.00330545318,7.94568343 0.216644359,8.11064571 L2.53986933,9.92523086 C2.4848819,10.2689023 2.44364133,10.6400674 2.44364133,10.9974857 C2.44364133,11.354904 2.47112282,11.7260691 2.52612247,12.0697406 L0.202897502,13.8843257 C-0.00330577089,14.049288 -0.0582930284,14.3517189 0.0654286859,14.5853543 L2.26491996,18.3932949 C2.40238853,18.6407383 2.69108475,18.7232194 2.93852818,18.6407383 L5.67415275,17.5409897 C6.25152075,17.9808891 6.85638247,18.3383074 7.52997847,18.6132446 L7.94238418,21.5275783 C7.99737161,21.8025154 8.21732133,21.9949714 8.49225847,21.9949714 L12.8912528,21.9949714 C13.1661899,21.9949714 13.3998254,21.8025154 13.4273191,21.5275783 L13.8397248,18.6132446 C14.5133819,18.3383074 15.1319294,17.9672034 15.6956116,17.5409897 L18.4311751,18.6407383 C18.6786185,18.7370274 18.9673636,18.6407383 19.1048322,18.3932949 L21.3043293,14.5853543 C21.4417979,14.3379109 21.3868105,14.049288 21.1668608,13.8843257 L18.8710745,12.0697406 Z M10.6917556,15.1215429 C8.42352418,15.1215429 6.56769847,13.265656 6.56769847,10.9974857 C6.56769847,8.72925429 8.42352418,6.87342857 10.6917556,6.87342857 C12.9599259,6.87342857 14.8158128,8.72925429 14.8158128,10.9974857 C14.8158128,13.265656 12.9599259,15.1215429 10.6917556,15.1215429 Z" id="Shape"></path>
                </g>
                <g id="process" transform="translate(33.000000, 24.444411)" fill="#002E53" fill-rule="nonzero">
                    <path d="M51.417216,18.832896 C52.46208,21.648384 52.992,24.614784 52.992,27.648 C52.992,41.622912 41.622912,52.992 27.648,52.992 C20.05056,52.992 12.90816,49.578624 8.112384,43.776 L16.128,43.776 L16.128,41.472 L4.608,41.472 L4.608,52.992 L6.912,52.992 L6.912,45.934848 C12.13056,51.848064 19.662336,55.296 27.648,55.296 C42.893568,55.296 55.296,42.892416 55.296,27.648 C55.296,24.339456 54.717696,21.10464 53.577216,18.031104 L51.417216,18.832896 Z" id="Path"></path>
                    <path d="M39.168,13.824 L50.688,13.824 L50.688,2.304 L48.384,2.304 L48.384,9.36 C43.16544,3.446784 35.635968,0 27.648,0 C12.403584,0 0,12.403584 0,27.648 C0,30.956544 0.578304,34.19136 1.718784,37.264896 L3.878784,36.463104 C2.83392,33.647616 2.304,30.681216 2.304,27.648 C2.304,13.673088 13.673088,2.304 27.648,2.304 C35.248896,2.304 42.38784,5.716224 47.183616,11.52 L39.168,11.52 L39.168,13.824 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>