@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<div class="row">
    <div class="col">
        <Results ImgSrc="Unlock"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="AlertWarning"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="NoResults" HeadingText="No Users found" HeadingDescription="Try adjusting or clearing your filter parametsr and double-check the user Id."></Results>
    </div>
    <div class="col">
        <Results ImgSrc="SearchProcessing"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="SearchResults"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="StartExport"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="UploadBatch"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="CDCLogo"></Results>
    </div>
</div>
<div class="row">
    <div class="col">
        <Results ImgSrc="UploaderProcessing"></Results>
    </div>
    <div class="col">
        <Results ImgSrc="UploaderReview"></Results>
    </div>
</div>